h1{
    font-family: ğ’”ğ’˜ğ’Šğ’‡ğ’•ğ’Šğ’†;
    font-size: 20;
    color: #92aac6;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
h2{
    font-family: serif;
    font-size: 20;
    color: #fbebcb;
}
article{
    background-color: #9c5d83;
    display: block;
    margin: 0 auto;
}
footer{
    background-color: #866962;

}
